@import "tailwindcss";

body {
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: white;
}

.glass {
    background: rgba(255,255,255,.08);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,.1);
}

.glow {
    box-shadow: 0 0 30px rgba(59,130,246,.35);
}